<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDSc_ShmqT0o4piiOxU0Uf2afA1Z5OQYug</string>
	<key>GCM_SENDER_ID</key>
	<string>324580807423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catisfaction.arenaking</string>
	<key>PROJECT_ID</key>
	<string>arenaking-3ec58</string>
	<key>STORAGE_BUCKET</key>
	<string>arenaking-3ec58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324580807423:ios:4b7250ad3cbdcb934fb2ca</string>
</dict>
</plist>